.custom-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 100px;
  background-color: #121618;
  box-sizing: border-box;
}

/* Style for the logo and text */
.navbar-logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  text-align: center;
}

.navbar-logo .logo-img {
  max-width: 100%;
  height: 80px;
  width: 110px;
}

.text-container {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.text-line {
  display: flex;
  align-items: center;
  font-size: 24px;
}

.deep-net {
  color: blue;
  /* Deep in blue */
  font-weight: bold;
}

.net {
  color: white;
  font-weight: normal;
}

.soft {
  color: #857878;
  font-size: 24px;
  font-weight: normal;
  margin-top: 5px;
}

.navbar-links {
  margin-left: auto;
  list-style: none;
  display: flex;
  padding: 0;
}

.navbar-links .nav-item {
  margin-right: 15px;
}

.navbar-links .nav-link {
  font-size: 16px;
  color: white;
  position: relative;
  text-decoration: none;
  padding-top: 20px;
}

.navbar-links .nav-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 2px;
  background-color: blue;
  transition: width 0.3s ease-in-out;
}

.navbar-links .nav-link:hover::after {
  width: 100%;
}

.navbar-links .nav-link:last-child {
  margin-right: 0;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler-icon {
  background-color: white;
}

.navbar-collapse {
  display: flex;
  justify-content: flex-end;
}

.navbar-text {
  padding-left: 20px;
}